In [18]:
import numpy as np

# Part 1 and 2:  
-Designed a function that scales a vector based on the given methods: min_max or z_score. If statements are created to determine the method. Default will be min_max.  
-Based on the paremeter, the function will scale the values to a range between 0 and 1 or calculate the mean and normalized standard deviation of the vector    
-If there is an invalid method then an error will be raised

In [19]:
def normalize_vector(vector, method='min_max'):
    
    if method == 'min_max':
        # Min-Max Normalization
        min_val = np.min(vector)
        max_val = np.max(vector)
        normalized = (vector - min_val) / (max_val - min_val)
        
    elif method == 'z_score':
        # Z-score Normalization
        mean = np.mean(vector)
        std = np.std(vector)
        normalized = (vector - mean) / std
    else:
        raise ValueError("Invalid method. Choose 'min_max' or 'z_score'.")
            
    return normalized

In [20]:
vector1 = [1, 2, 3, 4, 5]
vector2 = [-2, -1, 0, 1, 2]

# Min-Max Normalization
normalized_min_max = normalize_vector(vector1, method='min_max')
print("Min-Max Normalized:", normalized_min_max)

Min-Max Normalized: [0.   0.25 0.5  0.75 1.  ]

In [21]:
# Z-score Normalization
z_score = normalize_vector(vector2, method='z_score')
print("Z-score:", z_score)

Z-score: [-1.41421356 -0.70710678  0.          0.70710678  1.41421356]

# Part 3 - in order:  
-Import statement and reading in data  
-A.) Length of rows is 20640  
-B.) Target vector for model is the median_house_value  
-C.) It represents the average number of bedrooms per household  
-D.) New data frame is called df2 that holds the median age, the median income, and the new feature  
-E.) Using the function created in part 1 and 2 to find the z-score for each feature of the new df2 data frame

In [22]:
import pandas as pd
df = pd.read_csv("calif_housing_data.csv")
df.head(1)

,housing_median_age,total_bedrooms,households,median_income,median_house_value
0,41,129.0,126,8.3252,452600.0

In [23]:
#length of rows
len(df)

20640

In [24]:
#finding the average bedroom per household
df["avg_num_bedrooms_per_household"] = df.total_bedrooms / df.households
df.head(2)

,housing_median_age,total_bedrooms,households,median_income,median_house_value,avg_num_bedrooms_per_household
0,41,129.0,126,8.3252,452600.0,1.02381
1,21,1106.0,1138,8.3014,358500.0,0.97188

In [25]:
#new data frame generated including specified columns
df2 = pd.DataFrame(df, columns=['housing_median_age','median_income','avg_num_bedrooms_per_household'])
df2.head(1)

   housing_median_age  median_income  avg_num_bedrooms_per_household
0                  41         8.3252                         1.02381

In [26]:
#finding z-score normalization for each feature, returning values into new columns
df2["z_score_housing_median_age"] = normalize_vector(df2.housing_median_age, method='z_score')
df2["z_zcore_median_income"] = normalize_vector(df2.median_income, method='z_score')
df2["z_score_avg_num_bedrooms_per_household"] = normalize_vector(df2.avg_num_bedrooms_per_household, method='z_score')

In [27]:
df2.head(3)

,housing_median_age,median_income,avg_num_bedrooms_per_household,z_score_housing_median_age,z_zcore_median_income,z_score_avg_num_bedrooms_per_household
0,41,8.3252,1.023810,0.982143,2.344766,-0.153863
1,21,8.3014,0.971880,-0.607019,2.332238,-0.262936
2,52,7.2574,1.073446,1.856182,1.782699,-0.049604